@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

/* ---------------- */
/* Variables */
/* ---------------- */
:root {
    /*fancade colors*/

    --color-light-beige: #ffe3e3;
    --color-beige: #ffcab8;
    --color-dark-beige: #f5aba0;



    --color-light-pink: #ffb3e4;
    --color-pink: #ff90ca;
    --color-dark-pink: #e66ca7;

    --color-light-red: #ff9696;
    --color-red: #ff4865;
    --color-dark-red: #bb344d;

    --color-light-orange: #ffa37d;
    --color-orange: #ff6c50;
    --color-dark-orange: #c84d3d;

    --color-light-green: #abff68;
    --color-green: #3eba49;
    --color-dark-green: #00864a;

    --color-light-yellow: #ffff7d;
    --color-yellow: #ffc935;
    --color-dark-yellow: #a07b00;

    --color-light-purple: #e391ff;
    --color-purple: #c54bff;
    --color-dark-purple: #8a00d4;

    --color-light-blue: #00c2ff;
    --color-blue: #008cff;
    --color-dark-blue: #006ad4;

    --color-light-white: #feffff;
    --color-white: #dde0f0;
    --color-dark-white: #878ba0;

    --color-light-black: #5b5b76;
    --color-black: #3c3c50;
    --color-dark-black: #1a1a25;
}

/* ---------------- */
/* Reset */
/* ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- */
/* General */
/* ---------------- */
body {
    font-family: 'Baloo 2';
    font-weight: 800;
    background-color: var(--color-light-white);
}

/* ---------------- */
/* Nav Bar */
/* ---------------- */
nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

/* ---------------- */
/* Presentation */
/* ---------------- */
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-green);
    box-shadow: var(--color-green) 0rem 1rem;
    margin: 2rem auto;
    border-radius: 1rem;
    max-width: 60rem;
}

.presentation div {
    margin: 2rem;
}

.presentation h1 {
    text-align: center;
    color: var(--color-dark-green);
}

.presentation h2 {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0.25rem 0;
    border-radius: 0;
    text-align: center;
    color: var(--color-dark-green);
}

.presentation img {
    vertical-align: middle;
    max-width: 300px;
    width: 100%;
    height: auto;
}

/* ---------------- */
/* Education */
/* ---------------- */
.education {
    margin: 2rem auto;
    max-width: 60rem;
}

.education-item {
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: inset 0 0 0 0.25rem var(--color-dark-black);
}

.education-item table {
    width: 100%;
    border-collapse: collapse;
}

.education-item td {
    padding: 1rem;
    vertical-align: top;
    font-weight: 600;
}

.table-cell--left {
    text-align: left;
}

.table-cell--right {
    text-align: right;
}

.education-item h3 {
    font-weight: 800;
}

.education-item p {
    margin: 0;
}

.education-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

/* ---------------- */
/* Projects */
/* ---------------- */
.projects {
    margin: 2rem auto;
    max-width: 60rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}

/* ---------------- */
/* Skills */
/* ---------------- */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    max-width: 60rem;
    margin: 2rem auto;
}

.education-item table {
    width: 100%;
    border-collapse: collapse;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    background-color: var(--color-light-pink);
    color: var(--color-dark-pink);
}

/* ---------------- */
/* Media Queries */
/* ---------------- */
@media (max-width: 45rem) {
    .presentation {
        flex-direction: column;
        margin: 1rem auto;
    }

    .presentation div {
        margin: 1rem;
    }

    .education-item td {
        display: block;
        width: 100%;
    }

    .table-cell--left,
    .table-cell--right {
        text-align: left;
    }
}